{% extends 'base.html.twig' %}

{% block meta_title %}Logowanie{% endblock %}
{% block meta_desc %}Zaloguj się do typerporemba.pl{% endblock %}

{% block content %}
<h2 class="site-title">
    Logowanie
</h2>
{% if app.session.flashbag.peek('error') %}
    {% for message in app.flashes('error') %}
	<p>{{ message|raw }}</p>
    {% endfor %}
{% endif %}
{% if error %}
    <div class="info error-info">
	{{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<div class="form">
    <form method="post">
	<div class="form-line">
	    <label for="inputEmail">Login</label>
	    <input type="text" value="" name="login" id="inputEmail" required class="input-text" />
	</div>
	<div class="form-line">
	    <label for="inputPassword">Hasło</label>
	    <input type="password" name="password" id="inputPassword" required class="input-text" />
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
	<button type="submit" class="button-submit button-margin">Zaloguj</button>
    </form>
</div>
<div class="main-links big-margin">
    <a href="{{ path('user_register') }}" class="button-link main-button-link">Rejestracja</a>
    <a href="{{ path('user_reset_password') }}" class="button-link main-button-link">Zapomniałeś hasła?</a>
</div>
{% endblock %}
