{% extends 'base.html.twig' %}

{% block meta_title %}Terminarz
{% endblock %}
{% block meta_desc %}Terminarz EURO 2021 - zapraszam do zabawy w typerze! typerporemba.pl
{% endblock %}

{% block content %}
	<h2 class="site-title">Terminarz</h2>
	<h3 class="small-header color-gold">Faza grupowa</h3>
	<div class="schedule">
		{% for match in schedule %}
			<div class="schedule-match">
				<div class="schedule-info">
					<p>{{ loop.index }}</p>
					<p>{{ match.phase }}</p>
					<p>{{ match.date | date('d-m-Y H:i:s') }}</p>
				</div>
				<div class="schedule-teams">
					<img src="/images/flags/{{ match.homeTeamFlag }}" alt="Flaga {{ match.homeTeamName }}"/>
					<p>{{ match.homeTeamName }}</p>
					<p>-</p>
					<p>{{ match.awayTeamName }}</p>
					<img src="/images/flags/{{ match.awayTeamFlag }}" alt="Flaga {{ match.awayTeamName }}"/>
				</div>
			</div>
		{% endfor %}
	</div>
	<h3 class="small-header color-gold">Faza Pucharowa</h3>
	<div class="schedule">
		{% for match in scheduleKnockout %}
			<div class="schedule-match">
				<div class="schedule-info">
					<p>{{ loop.index }}</p>
					<p>{{ match.phase }}</p>
					<p>{{ match.date | date('d-m-Y H:i:s') }}</p>
				</div>
				<div class="schedule-teams">
					<img src="/images/flags/{{ match.homeTeamFlag }}" alt="Flaga {{ match.homeTeamName }}"/>
					<p>{{ match.homeTeamName }}</p>
					<p>-</p>
					<p>{{ match.awayTeamName }}</p>
					<img src="/images/flags/{{ match.awayTeamFlag }}" alt="Flaga {{ match.awayTeamName }}"/>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="big-margin"></div>
{% endblock %}
