{% extends 'base.html.twig' %}

{% block meta_title %}Twoje typy{% endblock %}

{% block content %}
{% if app.user.active %}
<h2 class="site-title">Twoje typy - <span class="color-gold">{{ app.user.login }}</span></h2>
<h3 class="small-header color-gold">Dzisiejsze mecze</h3>
{% if today | length > 0 %}
    <div class="schedule schedule-with-results">
	{{ include('_partials/schedule_header.twig') }}
	{% for match in today %}
	    <div class="schedule-match">
		{{ include('_partials/schedule_info.twig') }}
		{{ include('_partials/schedule_teams.twig') }}
		{{ include('_partials/schedule_user_result.twig') }}
		{{ include('_partials/schedule_bet.twig') }}
	    </div>
	{% endfor %}
    </div>
{% else %}
    <div class="user-info">
	Brak meczów
    </div>
{% endif %}
<h3 class="small-header color-gold">Jutrzejsze mecze</h3>
{% if tomorrow | length > 0 %}
    <div class="schedule schedule-with-results">
	{{ include('_partials/schedule_header.twig') }}
	{% for match in tomorrow %}
	    <div class="schedule-match">
		{{ include('_partials/schedule_info.twig') }}
		{{ include('_partials/schedule_teams.twig') }}
		{{ include('_partials/schedule_user_result.twig') }}
		{{ include('_partials/schedule_bet.twig') }}
	    </div>
	{% endfor %}
    </div>
{% else %}
    <div class="user-info">
	Brak meczów
    </div>
{% endif %}
<h3 class="small-header color-gold">Pozostałe mecze</h3>
{% if rest | length > 0 %}
    <div class="schedule schedule-with-results">
	{{ include('_partials/schedule_header.twig') }}
	{% for match in rest %}
	    <div class="schedule-match">
		{{ include('_partials/schedule_info.twig') }}
		{{ include('_partials/schedule_teams.twig') }}
		{{ include('_partials/schedule_user_result.twig') }}
		{{ include('_partials/schedule_bet.twig') }}
	    </div>
	{% endfor %}
    </div>
{% else %}
    <div class="user-info">
	Brak meczów
    </div>
{% endif %}
<h3 class="small-header color-gold">Zakończone mecze</h3>
{% if finished | length > 0 %}
    <div class="schedule schedule-with-results">
	{{ include('_partials/schedule_header_finished.twig') }}
	{% for match in finished %}
	    <div class="schedule-match">
		{{ include('_partials/schedule_info.twig') }}
		{{ include('_partials/schedule_teams.twig') }}
		{{ include('_partials/schedule_match_result.twig') }}
		{{ include('_partials/schedule_user_result.twig') }}
		{{ include('_partials/schedule_points.twig') }}
	    </div>
	{% endfor %}
    </div>
{% else %}
    <div class="user-info">
	Brak meczów
    </div>
{% endif %}
<div class="big-margin"></div>
{% else %}
    {{ include('_partials/user_inactive_info.twig') }}
{% endif %}
{% endblock %}
