{% extends 'base.html.twig' %}

{% block meta_title %}Hello UserController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ app.user.login }}</h1>
    <h2>Dzisiejsze mecze</h2>
    {% for match in today %}
    	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ match.phase }}</div>
	    <div style="padding:2px 5px;">{{ match.date | date('d-m-Y H:i:s') }}</div>
	    <div style=" display:flex; padding:2px 5px;">
		<img src="/images/flags/{{ match.homeTeamFlag }}" style="max-width:20px;" />
		<div>{{ match.homeTeamName }}-</div>
		<div>{{ match.awayTeamName }}</div>
		<img src="/images/flags/{{ match.awayTeamFlag }}" style="max-width:20px;" />
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		{% if match.userHomeTeamScore and match.userAwayTeamScore %}
		    <div>{{ match.userHomeTeamScore }}-</div>
		    <div>{{ match.userAwayTeamScore }}</div>
		{% else %}
		    Brak
		{% endif %}
	    </div>
	    <div style="padding:2px 5px;">
		{% if match.date > date() %}
		    <a href="{{ path('user_bet', { 'betId': match.betId }) }}">Zmień typ &raquo;</a>
		{% endif %}
	    </div>
	</div>
    {% endfor %}
    <h2>Jutrzejsze mecze</h2>
    {% for match in tomorrow %}
    	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ match.phase }}</div>
	    <div style="padding:2px 5px;">{{ match.date | date('d-m-Y H:i:s') }}</div>
	    <div style=" display:flex; padding:2px 5px;">
		<img src="/images/flags/{{ match.homeTeamFlag }}" style="max-width:20px;" />
		<div>{{ match.homeTeamName }}-</div>
		<div>{{ match.awayTeamName }}</div>
		<img src="/images/flags/{{ match.awayTeamFlag }}" style="max-width:20px;" />
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		{% if match.userHomeTeamScore and match.userAwayTeamScore %}
		<div>{{ match.userHomeTeamScore }}-</div>
		<div>{{ match.userAwayTeamScore }}</div>
		{% else %}
		    Brak
		{% endif %}
	    </div>
	    <div style="padding:2px 5px;">
		{% if match.date > date() %}
		    <a href="{{ path('user_bet', { 'betId': match.betId }) }}">Zmień typ &raquo;</a>
		{% endif %}	    
	    </div>
	</div>
    {% endfor %}
    <h2>Pozostałe mecze</h2>
    {% for match in rest %}
    	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ match.phase }}</div>
	    <div style="padding:2px 5px;">{{ match.date | date('d-m-Y H:i:s') }}</div>
	    <div style=" display:flex; padding:2px 5px;">
		<img src="/images/flags/{{ match.homeTeamFlag }}" style="max-width:20px;" />
		<div>{{ match.homeTeamName }}-</div>
		<div>{{ match.awayTeamName }}</div>
		<img src="/images/flags/{{ match.awayTeamFlag }}" style="max-width:20px;" />
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		{% if match.userHomeTeamScore and match.userAwayTeamScore %}
		    <div>{{ match.userHomeTeamScore }}-</div>
		    <div>{{ match.userAwayTeamScore }}</div>
		{% else %}
		    Brak
		{% endif %}
	    </div>
	    <div style="padding:2px 5px;">
		{% if match.date > date() %}
		    <a href="{{ path('user_bet', { 'betId': match.betId }) }}">Zmień typ &raquo;</a>
		{% endif %}
	    </div>
	</div>
    {% endfor %}
    <h2>Zakończone mecze</h2>
    {% for match in finished %}
    	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ match.phase }}</div>
	    <div style="padding:2px 5px;">{{ match.date | date('d-m-Y H:i:s') }}</div>
	    <div style=" display:flex; padding:2px 5px;">
		<img src="/images/flags/{{ match.homeTeamFlag }}" style="max-width:20px;" />
		<div>{{ match.homeTeamName }}-</div>
		<div>{{ match.awayTeamName }}</div>
		<img src="/images/flags/{{ match.awayTeamFlag }}" style="max-width:20px;" />
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		<div>{{ match.homeTeamScore }}-</div>
		<div>{{ match.awayTeamScore }}</div>
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		<div>{{ match.userHomeTeamScore }}-</div>
		<div>{{ match.userAwayTeamScore }}</div>
	    </div>
	    <div style="padding:2px 5px;" class={{ points_class(match.points) }}>{{ match.points }}</div>
	</div>
    {% endfor %}
</div>
{% endblock %}
