{% extends 'base.html.twig' %}

{% block meta_title %}Hello UserController!{% endblock %}

{% block content %}
<div class="example-wrapper">
    <h1>Hello {{ app.user.login }}</h1>
    <h2>{{ userInfo.login }} - suma punktów: {{ points.points }}</h2>
    {% for match in details %}
    	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ loop.index }}</div>
	    <div style="padding:2px 5px;">{{ match.phase }}</div>
	    <div style="padding:2px 5px;">{{ match.date | date('d-m-Y H:i:s') }}</div>
	    <div style=" display:flex; padding:2px 5px;">
		<img src="/images/flags/{{ match.homeTeamFlag }}" style="max-width:20px;" />
		<div>{{ match.homeTeamName }}-</div>
		<div>{{ match.awayTeamName }}</div>
		<img src="/images/flags/{{ match.awayTeamFlag }}" style="max-width:20px;" />
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		<div>{{ match.homeTeamScore }}-</div>
		<div>{{ match.awayTeamScore }}</div>
	    </div>
	    <div style=" display:flex; padding:2px 5px;">
		<div>{{ match.userHomeTeamScore }}-</div>
		<div>{{ match.userAwayTeamScore }}</div>
	    </div>
	    <div style="padding:2px 5px;" class={{ points_class(match.points) }}>{{ match.points }}</div>
	</div>
    {% endfor %}
</div>
{% endblock %}
