{% extends 'base.html.twig' %}

{% block meta_title %}Tabela wyników{% endblock %}

{% block content %}
<h2 class="site-title">Tabela wyników</h2>
{% if app.user.active %}

    {% for result in results %}
	<div style="display:flex;">
	    <div style="padding:2px 5px;">{{ loop.index }}</div>
	    <div style="padding:2px 5px;">{{ result.login }}</div>
	    <div style="padding:2px 5px;">{{ result.points }}</div>
	    <div style="padding:2px 5px;">
		<a href="{{ path('user_results_details', { 'userId': result.id }) }}" class="button-link">Zobacz szczegóły &raquo;</a>
	    </div>
	</div>
    {% endfor %}
{% else %}
    {{ include('_partials/user_inactive_info.twig') }}
{% endif %}
{% endblock %}
